<div class="jog-panel" style="display: none;" data-bind="visible: loginState.isUser">
    <!-- XY jogging control panel -->
	<div class="jog-panel">
	<div class="row">
		<div class="span12">
		<div class="row">
			<div class="span4">
			<div class="row" style="margin-left:0">
			   <div class="print_head_label">Print Head</div>
			   <div class="aligncenter" style="width:250px;height:1px;border-bottom:1px solid #515151;font-size:0;">-</div> 
			   <div class="span1">
				   <img class="extruder" src="/static/img/printhead.svg">
			   </div>
			   <div class="span2" style="margin-left: 50px">
					<div class="row">
						<span id="control-yinc" class="control_buttons" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('y',2) }" ></span>
					</div>
					<div class="row">
						<span id="control-xdec" class="control_buttons" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('x',-1) }"></span>
						<span class="control_buttons"></span>
						<span id="control-xinc" class="control_buttons" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('x',1) }"></span>
					</div>
					<div class="row">
						<span id="control-ydec" class="control_buttons" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('y',-1) }"></span>
					</div>
			   </div>
			</div> 
			 <div class="row">
			   <div class="span4">
				<div class="row">
					<div id="control-xyhome" class="home_button" style="margin-top: 4px; margin-left: 30px" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendHomeCommand(['x', 'y']) }"></div>
				</div>
			   </div>
			 </div> 
			</div>
			{# center 'column' from the extrude button to the unit slider #}
			<div class="span3" style="margin-top: 20px">
				<div class="row">
					<div class="span1">
						{# extrude/retract combo box #}
						<span class="input-append control-box">
							<input type="text" class="input-mini text-right" data-bind="value: extrusionAmount, enable: isOperational() && !isPrinting() && loginState.isUser(), attr: {placeholder: settings.printer_defaultExtrusionLength}">
							<span class="add-on">mm</span>
						</span>
					</div>
					<div class="span2">
						<div id="control-extrude" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendExtrudeCommand() }"></div>
					</div>
				</div>				
				<div class="row">
					<div class="span2 offset1">
							{# retraction button; figure out if we can redo it without the awkward off-set #}
						<div id="control-retract" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendRetractCommand() }"></div>
					</div>
				</div>
				<div class="row">
					<div class="control_label span1" style="margin-top: 20px; margin-bottom: 20px">FANS</div>
					<div class="span1" style="margin-top: 20px">
						{# fans on #}
						<a href="#" id="fans_on">
							<img src="/static/img/on_button_wire.svg" data-bind="enable: isOperational() && loginState.isUser(), click: function() { $root.sendCustomCommand({type:'command',command:'M106'}) }" onmouseover="this.src='/static/img/on_button_fill.svg'" onmouseout="this.src='/static/img/on_button_wire.svg'">
						</a>
					</div>
					<div class="span1" style="margin-top: 20px">
						{# fans off #}
						<a href="#" id="fans_off">
							<img src="/static/img/off_button_wire.svg" data-bind="enable: isOperational() && loginState.isUser(), click: function() { $root.sendCustomCommand({type:'command',command:'M106 S0'}) }" onmouseover="this.src='/static/img/off_button_fill.svg'" onmouseout="this.src='/static/img/off_button_wire.svg'">
						</a>
					</div>
				</div>
				<div class="row">
					<div class="control_label span1">MOTORS</div>
					<div class="span1">
						{# motors on #}
						<a href="#" id="motors_on">
							<img src="/static/img/on_button_wire.svg" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendCustomCommand({type:'command',command:'M17'}) }" onmouseover="this.src='/static/img/on_button_fill.svg'" onmouseout="this.src='/static/img/on_button_wire.svg'">
						</a>
					</div>
					<div class="span1"">
						{# motors off #}
						<a href="#" id="motors_off">
							<img src="/static/img/off_button_wire.svg" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendCustomCommand({type:'command',command:'M18'}) }" onmouseover="this.src='/static/img/off_button_fill.svg'" onmouseout="this.src='/static/img/off_button_wire.svg'">
						</a>
					</div>
				</div>
				<div class="row">
					<!-- Jog distance -->
					<div class="distance" style="margin-left: 50px">
						<div class="btn-group" data-toggle="buttons-radio" id="jog_distance">
							<button type="button" id="control-distance01" class="btn distance" data-distance="0.1" data-bind="enable: loginState.isUser()">0.1</button>
							<button type="button" id="control-distance1" class="btn distance" data-distance="1" data-bind="enable: loginState.isUser()">1</button>
							<button type="button" id="control-distance10" class="btn distance active" data-distance="10" data-bind="enable: loginState.isUser()">10</button>
							<button type="button" id="control-distance100" class="btn distance" data-distance="100" data-bind="enable: loginState.isUser()">100</button>
						</div>
					</div>
				</div>
			</div>
			<div class="span5">
				<div class="row" style="margin-left: 100px">
						<div class="print_head_label">Platform</div>
						<div class="print_head_label" style="width:250px;height:1px;border-bottom:1px solid #515151;font-size:0;">-</div> 
				</div>						
				<div class="control_column3">
					<div class="row">
						{# platform #}
						<div id="platform_image" class="span2"></div>
						<div class="span2">					
							{# raise/lower platform #}
							<span id="control-raise" class="raise_lower pull-right" style="margin-top: -10px" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('z',-1) }"></span>
							<span id="control-lower" class="raise_lower pull-right" style="margin-top: 10px" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('z',1) }"></span>
						</div>			
					</div>
					<div class="row">
						<div id="control-zhome" class="home_button" style="margin-left: 100px; margin-top: 30px" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendHomeCommand(['z']) }"></div>
					</div>
				</div>
			</div> {# end span5 #}
		</div>
		</div>
	</div>
	</div>
</div>
