<div class="span4">
	<div class="logo_tam">
		<img src="/static/img/type_a_machines.svg" alt="Type A Machines"/> 
		<a id="navbar_show_settings" class="pull-right" href="#settings_dialog" data-bind="click: show"><img src="/static/img/settings.svg" alt="Settings" class="otam_icon"></a>
		<a href="#" id="wifi_popover" class="pop_over" rel="popover" data-placement="bottom" data-original-title="WiFi Settings"><img style="margin-left:25px" alt="WiFi" src="/static/img/wifi.svg" class="wifi_icon"></a>
	</div>
</div>
